In [46]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [47]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [48]:
stud_alc = pd.read_csv('student_alc.csv')
stud_alc.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [49]:
stud_alc['Pass'] = pd.Series('', index=stud_alc.index)

In [50]:
stud_alc.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Pass
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,

In [51]:
job = {'at_home':0, 'health':1, 'other':2, 'services':3, 'teacher':4}
reason = {'course':0, 'home':1, 'other':2, 'reputation':3}
guardian = {'father':0, 'mother':1, 'other':2}
for index, row in stud_alc.iterrows():
    if row["school"] == "GP":
        stud_alc.set_value(index,'school',False)
    else:
        stud_alc.set_value(index,'school',True)
    if row["sex"] == "F":
        stud_alc.set_value(index,'sex',False)
    else:
        stud_alc.set_value(index,'sex',True)
    if row["address"] == "U":
        stud_alc.set_value(index,'address',False)
    else:
        stud_alc.set_value(index,'address',True)
    if row["famsize"] == "GT3":
        stud_alc.set_value(index,'famsize',False)
    else:
        stud_alc.set_value(index,'famsize',True)
    if row["Pstatus"] == "A":
        stud_alc.set_value(index,'Pstatus',False)
    else:
        stud_alc.set_value(index,'Pstatus',True)
        
    stud_alc.set_value(index,'Mjob',job[row["Mjob"]])
    stud_alc.set_value(index,'Fjob',job[row["Fjob"]])
    stud_alc.set_value(index,'reason',reason[row["reason"]])
    stud_alc.set_value(index,'guardian',guardian[row["guardian"]])
    
    # categorizing schoolsup
    if row["schoolsup"] == "yes":
        stud_alc.set_value(index,'schoolsup',True)
    else:
        stud_alc.set_value(index,'schoolsup',False)
    # categorizing internet
    if row["famsup"] == "yes":
        stud_alc.set_value(index,'famsup',True)
    else:
        stud_alc.set_value(index,'famsup',False)
    # categorizing paid
    if row["paid"] == "yes":
        stud_alc.set_value(index,'paid',True)
    else:
        stud_alc.set_value(index,'paid',False)
    # categorizing activities
    if row["activities"] == "yes":
        stud_alc.set_value(index,'activities',True)
    else:
        stud_alc.set_value(index,'activities',False)
    # categorizing nursery
    if row["nursery"] == "yes":
        stud_alc.set_value(index,'nursery',True)
    else:
        stud_alc.set_value(index,'nursery',False)
    # categorizing higher
    if row["higher"] == "yes":
        stud_alc.set_value(index,'higher',True)
    else:
        stud_alc.set_value(index,'higher',False)
    # categorizing romantic
    if row["romantic"] == "yes":
        stud_alc.set_value(index,'romantic',True)
    else:
        stud_alc.set_value(index,'romantic',False)
    # categorizing internet
    if row["internet"] == "yes":
        stud_alc.set_value(index,'internet',True)
    else:
        stud_alc.set_value(index,'internet',False)
    # categorizing G3
    if row["G3"] >= 14:
        stud_alc.set_value(index,'Pass',True)
    else:
        stud_alc.set_value(index,'Pass',False)

stud_alc.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Pass
0,False,False,18,False,False,False,4,4,0,4,...,3,4,1,1,3,6,5,6,6,False
1,False,False,17,False,False,True,1,1,0,2,...,3,3,1,1,3,4,5,5,6,False
2,False,False,15,False,True,True,1,1,0,2,...,3,2,2,3,3,10,7,8,10,False
3,False,False,15,False,False,True,4,2,1,3,...,2,2,1,1,5,2,15,14,15,True
4,False,False,16,False,False,True,3,3,2,2,...,3,2,1,2,5,4,6,10,10,False

In [52]:
clf = tree.DecisionTreeClassifier()

In [53]:
data_matrix = stud_alc.as_matrix()

In [54]:
target = np.asarray([row[33] for row in data_matrix])

In [55]:
data = np.delete(data_matrix,[30,31,32,33],1)

In [56]:
X_train, X_val, y_train, y_val = \
		train_test_split(data,target,test_size=0.33,random_state=10)

In [57]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [58]:
predictions = clf.predict(X_val)

count = 0
for x in range(len(predictions)):
    if y_val[x] != predictions[x]:
        count += 1
print("# of incorrect predictions: " + str(count))
print("# of total predictions: " + str(len(y_val)))

# of incorrect predictions: 35
# of total predictions: 131

In [59]:
# ! pip install graphviz
import graphviz

dot_data = tree.export_graphviz(clf, out_file=None, feature_names=list(stud_alc)[:30], class_names=['Pass','Fail']) 
graph = graphviz.Source(dot_data) 
graph.render("alcohol")

'alcohol.pdf'